.dashboard-container {
    .dashboard-header {
        h1 {
            font-family: 'LoewNextBold';
            font-weight: 700;
            font-size: 32px;
            line-height: 48px;
            letter-spacing: 0;
            vertical-align: middle;
            color: var(--side-bar-menu-item-link);
        }
    }

    .dashboard-progress {
        background-color: var(--side-bar-background-color);
        padding: 16px 16px 15px 24px;
        border-radius: 8px;
        box-shadow: 0px 2px 10px 0px var(--dashboard-progress-shadow);

        h2 {
            font-family: 'LoewNextBold';
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0;
            vertical-align: middle;
            color: var(--side-bar-menu-item-link);
        }

        .dashboard-progress-item-title {
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 1px;
                height: 100%;
                background-color: var(--background-color);
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        .progress-item-title {
            font-family: 'LoewNextBold';
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            vertical-align: middle;
            color: #212B36;
            color: var(--progress-item-title-color);

            span {
                cursor: pointer;
            }
        }

        .progress {
            height: 24px;

            .progress-bar {
                background-color: #3B82F6;
            }

            .progress-green {
                background-color: #10B981;
            }
        }

        .progress-percentage {
            color: #6B7280;
        }

        .progress-title {
            font-family: "LoewNextBold";
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: center;
            color: var(--progress-item-title-color);
        }
    }


    .dashboard-grid {
        background-color: var(--side-bar-background-color);

        ::ng-deep {
            .p-tabs {
                overflow: hidden;
                border: 1px solid var(--background-color);
                border-radius: 8px;
            }

            .filter {
                position: relative;

                button {
                    width: 52px;
                    height: 36px;
                    padding: 8px 16px;
                    background-color: transparent;
                    border: 1px solid var(--filter-button-color);
                    border-radius: 8px;
                    position: relative;

                    a {
                        position: absolute;
                        bottom: 20px;
                        left: 0;
                        background-color: var(--background-color-container);
                        color: var(--side-bar-menu-item-link-drop-down);
                        width: 15px;
                        height: 25px;
                        border-radius: 50%;
                        font-size: 17px;
                    }
                }

                .drop-down {

                    background-color: var(--pages-number-background);
                    border: 1px solid var(--background-color);
                    box-shadow: 0px 8px 40px 8px var(--shadow-color-filter);
                    width: 144px;
                    height: 116px;
                    top: 61px;
                    border-radius: 8px;
                    border-width: 1px;
                    padding: 8px;
                    right: 26px;
                    position: absolute;
                    z-index: 9;

                    ul {
                        list-style: none;

                        li {
                            font-family: "LoewNextMeduim";
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 18px;
                            letter-spacing: 0;

                            a {
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                color: var(--side-bar-menu-item-link-drop-down) !important;
                            }

                            &:hover {
                                cursor: pointer;
                                background-color: var(--background-color-container);
                            }
                        }

                        .active {
                            cursor: pointer;
                            background-color: var(--background-color-container);
                        }
                    }
                }
            }

            .p-tablist-tab-list {
                border: none;
                height: 56px;

                .p-ripple {
                    font-family: 'LoewNextMeduim';
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 26px;
                    letter-spacing: 0;

                    color: var(--side-bar-menu-item-link) !important;
                    padding: 16px 24px;
                    border: none;
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        width: 1px;
                        height: 60%;
                        background-color: var(--background-color);
                        position: absolute;
                        bottom: 10px;
                        right: 0;
                    }

                    &:hover {
                        cursor: pointer;
                        background-color: var(--background-color-container-table);
                    }
                }

                .p-tab-active {
                    font-family: 'LoewNextMeduim';
                    background: var(--p-tabs-tab-active-background);
                    border-bottom: 2px solid var(--tabs-color) !important;
                    color: var(--tabs-color) !important;
                }
            }
        }

    }

    .incomplete {
        font-family: 'LoewNextMeduim';
        font-weight: 500;
        font-size: 11px;
        line-height: 10px;
        letter-spacing: 0;
        text-align: start;
        color: var(--incomplete-color);
    }
}


@media (max-width: 768px) {
    .p-ripple {
        font-size: 12px !important;
        padding: 16px 5px !important;
    }

    .dashboard-progress {

        .dashboard-progress-item-title {
            padding-bottom: 15px;

            &::after {
                width: 100% !important;
                height: 1px !important;
            }
        }

        .progress-item-title {
            padding-top: 15px;
        }
    }
}

@media (min-width: 390px) and (max-width: 522px) {

    .dashboard-container {
        .dashboard-header {
            h1 {
                font-size: 25px;
            }
        }

        .dashboard-progress {
            h2 {
                font-size: 20px;
            }
        }
    }

    .filter {
        justify-content: center;

        button {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 390px) {
    .p-ripple {
        width: 45px;
        font-size: 8px !important;
        padding: 10px 5px !important;
    }

    .dashboard-container {
        .dashboard-header {
            h1 {
                font-size: 20px;
            }
        }

        .dashboard-progress {
            h2 {
                font-size: 15px;
            }
        }
    }

    .filter {
        justify-content: center;

        button {
            width: 100% !important;
        }
    }
}