.layout-container {
    background-color: #F1F5F9;

    .side-bar-section {
        width: 268px;
        height: 855px;
    }

    .main-section {
        width: calc(100% - 268px);
        height: 855px;
    }
}