.layout-container {

    .side-bar-section {
        width: 268px;
        height: 855px;
    }

    .main-section {
        width: calc(100% - 268px);
        // height: 855px;
    }
}

::ng-deep {
    .container-fluid {
        padding: 0;
    }
}