.pagination {
    button {
        background-color: var(--pages-number-background);
        color: var(--pages-number-color);
        border: 1px solid var(--background-color);
        border-radius: 8px;
        padding: 8px 16px;
        margin: 0 3px;
    }

    .border-none {
        border: none;
    }

    .active {
        background-color: #154B89;
        color: white;
    }

    .select-page {
        color: var(--incomplete-color);
    }

    ::ng-deep {
        .p-select {
            border: 1px solid #D1D5DB;
            width: 70px;
            height: 42px;
            border-radius: 8px;
            padding: 8px 15px;

        }

        .p-select-list {
            width: 100%;
        }

        .p-select-option {
            justify-content: center;
        }

        .p-select-list-container {
            border: 1px solid #D1D5DB;
            background-color: var(--pages-number-background);
            border-radius: 8px;
        }
    }
}

@media screen and (max-width: 426px) {
        button {
            padding: 5px 10px !important;
        }
}