/* You can add global styles to this file, and also import other style files */
@import 'themes.scss';

@font-face {
    font-family: 'LoewNextBold';
    src: url('./assets/fonts/LoewNext-Bold-BF63fd638abb9de.otf') format('opentype');
}

@font-face {
    font-family: 'LoewNextMeduim';
    src: url('./assets/fonts/LoewNext-Medium-BF63fd638a9ff86.otf') format('opentype');
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Customize Bootstrap tooltip */
.tooltip {
    .tooltip-inner {
        background-color: var(--background-color-tooltip) !important; // your custom background
        color: var(--color-tooltip) !important;
        width: 130px;
    }
}

.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
    border-top-color: var(--background-color-tooltip) !important;
}