table {
    width: 100%;
    min-height: 129px;

    thead {
        tr {
            font-family: 'LoewNextBold';
            height: 60px;
            padding: 16px 24px;
            background-color: var(--background-color-container-table);
            color: var(--header-table-color);
        }
    }

    tbody {
        tr {
            font-family: 'LoewNextMeduim';
            min-height: 50px;
            padding-inline: 24px;
            background-color: var(--secondary-color);
            color: var(--progress-item-title-color);

            &:hover {
                background-color: var(--background-color-row-hover);
                cursor: pointer;
            }

            .primary {
                background-color: #154B89;
                color: white;
                height: 100%;
                font-family: "LoewNextBold";
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0;
                text-align: center;
                padding-bottom: 7px;

                &:hover {
                    color: var(--color-practice);
                    background-color: var(--background-color-practice);
                }
            }

            .status {
                width: 102px;
                padding: 6px 8px;
                border-radius: 4px;
                gap: 4px;
                font-family: 'LoewNextMeduim';
                font-weight: 500;
                font-size: 11px;
                line-height: 10px;
                letter-spacing: 0;
                text-align: center;

            }

            .status-error {
                background-color: var(--status-error-background);
                color: var(--status-error-color);
                border: 1.5px solid var(--status-error-color);
            }

            .status-warning {
                background-color: var(--status-warning-background);
                color: var(--status-warning-color);
                border: 1.5px solid var(--status-warning-color);
            }

            .status-success {
                background-color: var(--status-success-background);
                color: var(--status-success-color);
                border: 1.5px solid var(--status-success-color);
                ;
            }

        }

        .odd-row {
            background-color: var(--background-color-odd-row);
        }
    }
}

@media (max-width: 640px) {
    table {
        width: 500px;
        overflow-x: scroll;

        thead {
            text-align: start;
        }

        tbody {
            text-align: center;

            tr {
                .status {
                    width: 90px;
                    padding: 6px 2px;
                }

                .primary {
                    font-size: 8px;
                }
            }
        }

        tr {
            font-size: 11px;
        }
    }
}